<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
    </style>
	<script src="https://kit.fontawesome.com/0e1c3b0023.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/stylesheets/main.css">
  <title><%= title %></title>