</head>
<body>
  <nav>
		<i class="fa-thin fa-spaghetti-monster-flying-2x"></i>
    <a 
      href="/flights/" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      Find Flights
    </a>
  </nav>