</head>
<body>
  <nav>
		<i class="fas fa-thin fa-spaghetti-monster-flying fa-xl">MMMF</i>
    <a 
      href="/flights" <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      All Flights
    </a>
    <a 
      href="/flights/new" <%- title === 'Add Flight' ? 'class="active"' : '' %>
    >
      Add Flight
    </a>
    <a 
      href="/meals/new" <%- title === 'Add Meal' ? 'class="active"' : '' %>
    >
      Add Meal
    </a>
  </nav>